obj/GeoWalle.csproj.nuget.dgspec.json
obj/GeoWalle.csproj.nuget.g.props
obj/GeoWalle.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/GeoWalle.AssemblyInfo.cs
obj/Debug/net7.0/GeoWalle.AssemblyInfoInputs.cache
obj/Debug/net7.0/GeoWalle.assets.cache
obj/Debug/net7.0/GeoWalle.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/GeoWalle.csproj.FileListAbsolute.txt
obj/Debug/net7.0/GeoWalle.dll
obj/Debug/net7.0/GeoWalle.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/GeoWalle.genruntimeconfig.cache
obj/Debug/net7.0/GeoWalle.GlobalUsings.g.cs
obj/Debug/net7.0/GeoWalle.pdb
obj/Debug/net7.0/ref/GeoWalle.dll
obj/Debug/net7.0/refint/GeoWalle.dll
obj/Debug

.gitignore
bin/Debug/net7.0/GeoWallE.deps.json
bin/Debug/net7.0/GeoWallE.dll
bin/Debug/net7.0/GeoWallE.exe
bin/Debug/net7.0/GeoWallE.pdb
bin/Debug/net7.0/GeoWallE.runtimeconfig.json
GeoWalle/bin/Debug/net7.0/GeoWalle.deps.json
GeoWalle/bin/Debug/net7.0/GeoWallE.dll
GeoWalle/bin/Debug/net7.0/GeoWallE.exe
GeoWalle/bin/Debug/net7.0/GeoWallE.pdb
GeoWalle/bin/Debug/net7.0/GeoWalle.runtimeconfig.json
GeoWalle/bin/Debug/net7.0/Gsharp.dll
GeoWalle/bin/Debug/net7.0/Gsharp.pdb
.gitignore
GeoWalle/obj/GeoWallE.csproj.nuget.dgspec.json
GeoWalle/obj/GeoWalle.csproj.nuget.g.props
GeoWalle/obj/GeoWalle.csproj.nuget.g.targets
GeoWalle/obj/project.assets.json
GeoWalle/obj/project.nuget.cache
GeoWalle/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GeoWalle/obj/Debug/net7.0/apphost.exe
GeoWalle/obj/Debug/net7.0/GeoWalle.AssemblyInfo.cs
GeoWalle/obj/Debug/net7.0/GeoWalle.AssemblyInfoInputs.cache
GeoWalle/obj/Debug/net7.0/GeoWalle.assets.cache
GeoWalle/obj/Debug/net7.0/GeoWallE.csproj.AssemblyReference.cache
GeoWalle/obj/Debug/net7.0/GeoWallE.csproj.CopyComplete
GeoWalle/obj/Debug/net7.0/GeoWalle.csproj.CoreCompileInputs.cache
GeoWalle/obj/Debug/net7.0/GeoWalle.csproj.FileListAbsolute.txt
GeoWalle/obj/Debug/net7.0/GeoWalle.dll
GeoWalle/obj/Debug/net7.0/GeoWalle.GeneratedMSBuildEditorConfig.editorconfig
GeoWalle/obj/Debug/net7.0/GeoWalle.genruntimeconfig.cache
GeoWalle/obj/Debug/net7.0/GeoWalle.GlobalUsings.g.cs
GeoWalle/obj/Debug/net7.0/GeoWalle.pdb
GeoWalle/obj/Debug/net7.0/ref/GeoWalle.dll
GeoWalle/obj/Debug/net7.0/refint/GeoWalle.dll
Gsharp/bin/Debug/net7.0/Gsharp.deps.json
Gsharp/bin/Debug/net7.0/Gsharp.dll
Gsharp/bin/Debug/net7.0/Gsharp.pdb
Gsharp/obj/Gsharp.csproj.nuget.dgspec.json
Gsharp/obj/Gsharp.csproj.nuget.g.props
Gsharp/obj/Gsharp.csproj.nuget.g.targets
Gsharp/obj/project.assets.json
Gsharp/obj/project.nuget.cache
Gsharp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Gsharp/obj/Debug/net7.0/Gsharp.AssemblyInfo.cs
Gsharp/obj/Debug/net7.0/Gsharp.AssemblyInfoInputs.cache
Gsharp/obj/Debug/net7.0/Gsharp.assets.cache
Gsharp/obj/Debug/net7.0/Gsharp.csproj.CoreCompileInputs.cache
Gsharp/obj/Debug/net7.0/Gsharp.csproj.FileListAbsolute.txt
Gsharp/obj/Debug/net7.0/Gsharp.dll
Gsharp/obj/Debug/net7.0/Gsharp.GeneratedMSBuildEditorConfig.editorconfig
Gsharp/obj/Debug/net7.0/Gsharp.GlobalUsings.g.cs
Gsharp/obj/Debug/net7.0/Gsharp.pdb
Gsharp/obj/Debug/net7.0/ref/Gsharp.dll
Gsharp/obj/Debug/net7.0/refint/Gsharp.dll
Gsharp/obj/Debug/net7.0/Gsharp.csproj.AssemblyReference.cache
