obj/GeoWalle.csproj.nuget.dgspec.json
obj/GeoWalle.csproj.nuget.g.props
obj/GeoWalle.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/GeoWalle.AssemblyInfo.cs
obj/Debug/net7.0/GeoWalle.AssemblyInfoInputs.cache
obj/Debug/net7.0/GeoWalle.assets.cache
obj/Debug/net7.0/GeoWalle.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/GeoWalle.csproj.FileListAbsolute.txt
obj/Debug/net7.0/GeoWalle.dll
obj/Debug/net7.0/GeoWalle.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/GeoWalle.genruntimeconfig.cache
obj/Debug/net7.0/GeoWalle.GlobalUsings.g.cs
obj/Debug/net7.0/GeoWalle.pdb
obj/Debug/net7.0/ref/GeoWalle.dll
obj/Debug/net7.0/refint/GeoWalle.dll
.gitignore
bin/Debug/net7.0/GeoWallE.deps.json
bin/Debug/net7.0/GeoWallE.dll
bin/Debug/net7.0/GeoWallE.exe
bin/Debug/net7.0/GeoWallE.pdb
bin/Debug/net7.0/GeoWallE.runtimeconfig.json
